.edu{
    border-bottom: 3px solid rgb(255, 255, 255);
    transform: scale(1.2);
}
.row11{
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.row1Image img{
    border-radius: 50%;
    height:45vh;
    width:45 vh;
}
.row1Image{
    display: flex;
    align-items: center;
    justify-content: center;
}