.event1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.evimage img {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
}
.evimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.evInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.evName {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.2rem;
}
.location {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.location i {
  margin-right: 10px;
}
.evDate {
  font-size: 1.5rem;
}
.evDesc {
  font-size: 1.5rem;
  margin: 0.2rem;
  text-align: center;
}
